<section class="fondo">
    <div class="container">
        <div class="menu" (click)="verMenu('opciones')">
            <div class="punto-menu">.</div>
            <div class="punto-menu">.</div>
            <div class="punto-menu">.</div>
            <div class="punto-menu">.</div>
        </div>
    </div>
    <ul class="submenu" *ngIf="menus.get('opciones')">
        <li>opcion 1</li>
        <li>opcion 2</li>
        <li>opcion 3</li>
    </ul>
    <div class="container">
        <div class="container-imagenes">
            <img [src]="ubicacion_poligono_regular" alt="Polígono Regular" class="img" (click)="verMenu('poligono_regular')">
            <img [src]="ubicacion_poligono_irregular" alt="Polígono Irregular" class="img" (click)="verMenu('poligono_irregular')">
        </div>
    </div>
    <ul class="submenu" *ngIf="menus.get('poligono_regular')">
        <li>opcion 1</li>
        <li>opcion 2</li>
        <li>opcion 3</li>
    </ul>
    <ul class="submenu" *ngIf="menus.get('poligono_irregular')">
        <li>opcion 1</li>
        <li>opcion 2</li>
        <li>opcion 3</li>
    </ul>
    <div class="container">
        <div class="container-imagenes">
            <img [src]="ubicacion_colores" alt="Colores" class="img" (click)="verMenu('colores')">
            <img [src]="ubicacion_pinceles" alt="Pinceles" class="img" (click)="verMenu('pinceles')">
        </div>
    </div>
    <ul class="submenu" *ngIf="menus.get('colores')">
        <li>opcion 1</li>
        <li>opcion 2</li>
        <li>opcion 3</li>
    </ul>
    <ul class="submenu" *ngIf="menus.get('pinceles')">
        <li>opcion 1</li>
        <li>opcion 2</li>
        <li>opcion 3</li>
    </ul>
    <div class="container">
        <div class="container-perfiles" (click)="verMenu('perfiles')">
            <app-profile [ver_descripcion]="true" ></app-profile>
        </div>
    </div>
    <ul class="submenu" *ngIf="menus.get('perfiles')">
        <li>opcion 1</li>
        <li>opcion 2</li>
        <li>opcion 3</li>
    </ul>
</section>