<main class="fondo">
    <section class="container-panel-lateral">
        <h2 class="titulo">Proyectos</h2>
        <div class="container-proyectos">
            <button routerLink="/drawing" class="boton">Proyecto 1.</button>
            <button routerLink="/drawing" class="boton">Proyecto 1.</button>
            <button routerLink="/drawing" class="boton">Proyecto 1.</button>
            <button routerLink="/drawing" class="boton">Proyecto 1.</button>
        </div>
        <h2 class="titulo">Amigos</h2>
        <div class="container-amigos">
            <app-profile [ver_descripcion]="true"></app-profile>
            <app-profile [ver_descripcion]="true"></app-profile>
        </div>
    </section>
    <section class="container-dibujos">
        <div class="container-dibujo"></div>
        <div class="container-dibujo"></div>
        <div class="container-dibujo"></div>
        <div class="container-dibujo"></div>
        <div class="container-dibujo"></div>
    </section>
    <section class="container-perfil">
        <app-profile [ver_descripcion]="false"></app-profile>
    </section>
</main>