<main class="fondo-login">
    <section class="contenedor">
        <h1 class="titulo"><strong>LOGIN</strong></h1>
        <h3 class="subtitulo">CORREO ELECTRÓNICO:</h3>
        <input type="email" class="input" placeholder="correo@drawing.com">
        <h3 class="subtitulo">CONTRASEÑA:</h3>
        <input type="password" class="input" placeholder="***********">
        <div class="contenedor-botones">
            <button (click)="ingresar()" class="boton"><strong>Login</strong></button>
            <button class="boton"><strong>Singin</strong></button>
        </div>
    </section>
</main>