.fondo-siging{
    background-color: #222831;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor{
    box-shadow: 0px 10px 50px #EEEEEE80;
    max-width: 500px;
    width: 60%;
    background-color: #393E46;
    border-radius: 15%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    background-color: #393E4680;
    color: #EEEEEE95;
    border-bottom: 3px solid #222831;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    margin-bottom: 10px;
    transition: 500ms;
    padding-left: 10px;
}
.input:active{
    background-color: #222831;
    border-bottom: 1px solid #222831;
    border-top: none;
    border-left: none;
    border-right: none;
}
.input:hover{
    border-bottom: 1px solid #EEEEEE;
    background-color: #222831;
}
.label-error, .label-correct{
    font-size: 18px;
    text-shadow: 0px 0px 10px #EEEEEE90;
    background-color: #222831;
    border-radius: 20px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    align-self: baseline;
    margin-left: 25%;
}
.label-error{
    color: #ff0000;
}
.label-correct{
    color: green;
}
.titulo{
    font-size: 50px;
    color: #EEEEEE;
    text-shadow: 10px -10px 5px #222831;
}
.subtitulo{
    font-size: 20px;
    color: #EEEEEE;
}
.contenedor-boton{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 5px solid #EEEEEE;
    width: 80%;
    display: flex;
    justify-content: center;
}
.boton{
    width: 60%;
    height: 60%;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    color: #222831;
    background-color: #FFD369;
    transition: 500ms;
}
.boton:hover{
    background-color: #222831;
    color: #FFD369;
}